
.btn{
    display: flex;
    
  } 

header{
  background: ;
  font-style: bold;
  font-size: 40px;
  text-align: center;
  color: black;
  font-family: arial;

  }




body{
  background: white;
  overflow: auto; 
}
#data{
  color: white;
  align-items: 50%;
}
header {
  animation: alternate;
 }
 a{
  text-decoration-style: none;
 }
 .newspaper {
      display: inline-block;
      padding-right: 10px;
      padding-left: 10px;
      column-count: 2;

      }
.pics{
  display: grid;
  max-width: 900px;
  max-height: 500px;

}
 #video{
  width: ;
  height: ;
  position: relative;
  animation-name: olalala;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}


@keyframes olalala {
  0%{right:0px; top:0px;}
  25%{right: :100px; top:100px;}
  50%{right:0px; top:0px;}
  75%{right:100px; top:100px;}
  100%{right:0px; top:0px;}

}



 #weslaty{
  width: ;
  height: ;
  position: relative;
  animation-name: holahop;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}


@keyframes holahop {
    0%{left:0px; top:0px;}
    25%{left:80px; top:80px;}
    50%{left:0px; top:0px;}
    75%{left:80px; top:80px;}
    100%{left:0px; top:0px;}
   
}